*{
    padding: 0;
    margin: 0;
}
a{ 
    color: inherit;
    text-decoration: none;
}
ul,li{
    list-style: none;
    text-decoration: none;
}
/* 전체 */
.wrap{
    width: 1200px;
    margin: 0 auto;
}
/* ====헤더==== */
header{
    display: flex;
    border: 1px solid black;
}
/* 헤더로고 */
header .h_logo{
    /* width: 200px; */
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    margin: 0;
    display: inline;
    line-height: 50px;
}
header .h_logo a{}
header .h_logo a h2{
    width: 200px;
}
/* 나브 */
nav{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/* 메뉴 배경색 */
header .bg_nav{
    background-color: #888;
    height: 200px;
    width: 628px;
    z-index: 2;
    margin-top: 30px;
}

/* 큰메뉴 */
nav .gab{
    display: flex;
    justify-content: right;
    width: 100%;
    color: #fff;
    margin-right: 20px;
    
}
nav .gab>li {
    background-color: #888;
    
}
/* 큰메뉴 호버 */
nav .gab>li>a:hover{
    background-color: #f8f8f8;
    color: black;
}
nav .gab li a {
    display: block;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
/* 서브메뉴 */
nav .gab li ul.sub {
    display: none;
}
nav .gab li ul.sub li{}
nav .gab li ul.sub li:hover{
    background-color: #fff;
    color: black;
}
nav .gab li ul.sub li a {}

/* ====슬라이더===== */
.slide{
    width: 1000px;
    height: 300px;
    position: relative;
}
.slide ul.slider{}
.slide ul.slider li {}
.slide ul.slider li a {}
.slide ul.slider li a img {
    width: 100%;
}

/* ===콘텐츠==== */
.contents {}
.contents section{}
/* 공지사항 */
.contents section .notice{}
.contents section .notice h2{}
.contents section .notice ul.notice_ul{}
.contents section .notice ul.notice_ul li {}
.contents section .notice ul.notice_ul li a {}
/* 갤러리 */
.contents section .gal{}
.contents section .gal h2{} 
.contents section .gal ul.gal_ul{} 
.contents section .gal ul.gal_ul li {} 
.contents section .gal ul.gal_ul li a{} 
.contents section .gal ul.gal_ul li a img{} 

/* 배너 */
.contents section .banner{}
.contents section .banner a {}
.contents section .banner a img{}

/* ====푸터====== */
footer{}
/* 하단메뉴 */
footer .menu{}
footer .menu p{}
footer .menu p a{}

/* 카피라이팅 */
footer .copy{}
footer .copy p{}

/* 패밀리사이트 */
footer .fam{}
footer .fam_select{}
footer .fam_select option{}
