*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    border: 0;
    vertical-align: top;
}
i,em,address{
    font-style: normal;
}
/*===== 전체 1200px===== */
.wrap{
    width: 1200px;   
     /*가운데는 auto세팅  */
     margin: 0 auto;
     /* background-color: #ccc; */
}
/* ====헤더===== */
/* 헤더는 넓이는 보여주되, %으로 표현 */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
header h1{
    color: green;
    font-weight: bolder;
    padding-top: 30px;
}
/* 헤더를 기준으로 bg내려오기 */
header nav{
    width: 700px;
    padding-top: 50px;
    padding-right: 20px;

}
header nav .nav_bg{
    width: 100%;
    /* li 40*3=120 */
    height: 120px;
    /* 이렇게 색을 넣으면 메뉴가 아래쪽으로 내려감 */
    /* 헤더를 기준으로 세팅 */
    /* 여기에는 포지션 엡솔루트로 세팅 */
    background-color: #3cb149;
    position: absolute;
    left: 0;
    top:100px;
    /* 이렇게 되면 글자가 안보여서 글자역시 포지션 세팅 */
    /* js로 세팅 */
    display: none;
}

header nav ul.gnb{
    width: 100%;
    text-align: center;
    display: flex;
}
header nav ul.gnb>li{
    width: 25%;
    position: relative;
    /* 여기에 글자 기준점 잡기(내려오는 li) */
}
/* gnb li을 기준으로 아래 서브메뉴 내려오기*/
header nav ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #434748;
    /* 보더를 겹치게 만들어 준다 */
    box-sizing: border-box;
    border-left: 0;
}
header nav ul.gnb>li:first-child>a{
    border-left: 1px solid #434748;
}
/* 메인메뉴 호버 */
header nav ul.gnb>li:hover>a{
    background-color: #434748;
    color: white;
}
/* js세팅 마우스 오버 */
header nav ul.gnb>li>ul.sub{
    width: 100%;
    line-height: 40px;
    /* 배경위로 글자보이게 포지션 세팅 */
    position: absolute;
    left: 0;
    top:50px;
    display: none;
}
header nav ul.gnb>li>ul.sub>li{
    height: 40px;
}
/* 호버 */
header nav ul.gnb>li>ul.sub>li:hover>a{
    background-color: #1d8844;
    color: white;
}
header nav ul.gnb>li>ul.sub>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
/* ====슬라이드==== */
ul.slide{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    /* 그림이 넘칠 수 도 있으니까 overflow 히든*/
    overflow: hidden;
}
ul.slide li{
    width: 100%;
    /* 슬라이드 고정자리에 이미지 3개다 묶어놓기 */
    position: absolute;
    left: 0;
    top:0;
}
ul.slide li:nth-child(1) img{
    width: 100%;
    height: 300px;
}
ul.slide li:nth-child(2) img{
    width: 100%;
    height: 300px;
    /* 좌우 움직임 때문에 위치변경 */
    left: -1200px;
}
ul.slide li:nth-child(3) img{
    width: 100%;
    height: 300px;
    left: -1200px;
}
/* ===가운데 컨텐츠영역===== */
.contents{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: left;
    /* background-color: yellow; */
}
.contents section{
    
}
.contents section h2{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #3cb149;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.contents section h2.not_title{
 width: 0;
}

/* 공지사항 */
.contents .notice{
    width: 420px;
    height: 20px;
}
.contents .notice ul{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #434748;
    border-right: 0;
}
.contents .notice ul li{
    width: 100%;
    height: 30px;
    line-height: 28px;
    font-size: 16px;
    padding: 5px;
}
/* 호버 */
.contents .notice ul li:hover{
    background-color: #434748;
    color: #fff;
    overflow: hidden;
}
.contents .notice li a{
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
}
/* 갤러리 */
.contents .gal{
    width: 440px;
}
.contents .gal ul{
    width: 100%;
    height: 162px;
    box-sizing: border-box;
    border: 1px solid #434748;
    display: flex;
    justify-content: left;
}
.contents .gal li{
    width: 130px;
    height: 130px;
    padding-top: 10px;
    padding-left: 4px;
    margin-right: 5px;
    padding-right: 5px;
}

/* 갤러리 호버 */
.contents .gal li:hover{
    opacity: 0.7;
}

.contents .gal li a{}

.contents .gal img{
    width: 140px;
    height: 140px;
}
/* 배너 */
.contents .sub_banner
.cover{
    height: 200px;
    width: 330px;
    /* 이미지 사이즈 때문에 cover 사용 */
    object-fit: cover;
    margin-left: 10px;
    
}
/* =====푸터===== */
footer{
    width: 1200px;
    height: 100px;
    background-color:#3cb149;
    display: flex;
    justify-content: left;
    color: #fff;
}
footer h2{
    padding-top: 30px;
    width: 200px;
    color: #434748;
    margin-left: 20px;
}
footer .copy{
    width: 850px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    text-align: justify;
    word-break: break-all;
    font-size: 15px;
}
/* 패밀리사이트 */
footer .family{
    width: 150px;
    font-size: 14px;
    /* padding-top: 15px; */
    text-align: center;
}

footer .family p{
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #1d8844;
    cursor: pointer;
}
/* 메뉴 화살표 작업 */
footer .family p.on i{
    display: inline-block;
    /*클래스를 줘서 화살표를 반대로 돌려버림  */
    /* 여기 왜 안되지? */
    transform: rotate(180deg);
}
footer .family ul{
    display: none;
    width: 100%;
}
footer .family ul li{
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #434748;
}
/* =====모달==== */
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
}
.modal .modal_inner{
    width: 700px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.modal .modal_inner .title{
    padding-top: 50px;
    font-size: 30px;
}
.modal .modal_inner p{
    padding-top: 20px;
    font-size: 20px;
}
.modal .modal_inner .btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}




